KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_BROKER=kafka:9092
USER_EVENTS_TOPIC=user-events
CONTENT_METADATA_TOPIC=content-metadata
FEATURE_STORE_TOPIC=feature-store
PIPELINE_METRICS_TOPIC=pipeline-metrics
TEST_USER_ID=u1
TEST_CONTENT_ID=c1
